@import "tailwindcss";
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html,
body,
#root {
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
